<!-- views/partials/_header.ejs -->
<header>
  <h1>Tiny App</h1>
  <% if (username) { %>
    <h4><%= username.email %></h4>
    <!-- logout client logic -->
  <form action = "/logout" method = "POST">
    <button type = "submit" value = "Logout">Logout</button>
  </form>
  <% } else { %>
    <a href = "/Register">Register</a>
    <a href = "/login">Login</a>
  <% } %>
</header>
