<!-- views/partials/_header.ejs -->
<header>
  <h1>Tiny App</h1>
  <% if (username) { %>
    <p> <%= username.id %></p>
    <!-- logout client logic -->
  <form action = "/logout" method = "POST">
    <button type = "submit" value = "Logout">Logout</button>
  </form>
  <% } else { %>
  <!-- login client logic -->
  <form action = "/login" method = "POST">
    <input type = "text" name = "username">
    <button type = "submit" value = "Login">Login</button>
  </form>
  <% } %>
</header>
