<!DOCTYPE html>
<html land ="en">
<head></head>

<body style="padding:50px;">
 <head></head>
 <!-- form submits and attempts login, redirects to urls page if success or error if not -->
  <form action= <%=`/login`%> method="POST">
    <h3>Login</h3>
    <input type = "email" name = "email">
    <input type = "password" name = "password">
    <button type = "Submit" value = "Login">Login</button>
  </form>
  <a href = "/register" >Or Sign Up</a>
</body>
</html>

