<!DOCTYPE html>
<html land ="en">
<head></head>

<body style="padding:50px;">
 <head></head>
  <form action= <%=`/register`%> method="POST">
    <h3>Registration</h3>
    <input type = "email" name = "email">
    <input type = "password" name = "password">
    <button type = "Submit" value = "Register">Register</button>
  </form>
    <a href = "/login" >Already have an account?</a>
</body>
</html>