<!DOCTYPE html>
<html land ="en">
<head></head>

<body>
  <% include ./partials/_header %>
  <h2>Link</h2>
    <!-- display full URL with its shortened form-->
    <h6> <%= URL[shortURL] %> <%= shortURL %></h6>

</body>
</html>