<!DOCTYPE html>
<html land ="en">

<head></head>
<body>
  <% include ./partials/_header %>

  <h2>Links</h2>
  <!-- list of all shortened urls and links-->
  <ul>

    <% for (var key in urls) { %>
      <form method="POST" action= <%=`/urls/${key}/delete?_method=DELETE`%> >
        <li><%= key %> - <%= urls[key].urlLong %>

        <a href = <%=`/urls/${key}`%>>Edit</a>
        <button type = "submit" value = "Delete">Delete</button>
        </li>
      </form>


      <% } %>
  </ul>
</body>
</html>