<!DOCTYPE html>
<html land ="en">

<% include ./partials/_header %>

<body>
  <h2>Link</h2>
    <!-- display full URL with its shortened form-->
    <h6> <%= URL[shortURL] %> <%= shortURL %></h6>

</body>
</html>